.base {
    margin: 0 auto;
    width: 700px;
    height: 900px;
    max-height: 900px;
    column-gap: 10px;
}
div {
    box-sizing: border-box;
}
.left_body, .right_body {
    height: inherit;
    width: inherit;
}
.disp_flex {
    display: flex;
}
.br {
    border-radius: 7px;
}
.fl_value {
    flex: 1 0 0;
}
.left_header2__content, .left_header3__content:nth-child(2), .left_main__head > div, .right_menu__head
.right_menu2, .right_menu2__right > div, .right_menu3__left > div, .right_menu__head {
    border: 1px solid #5ca3c2;
}
.left_main, .right_header, .right_menu, .right_menu2__left, .right_menu2__right,
.right_menu3__left, .right_menu3__right {
    flex-direction: column;
}
.bg_lightblue {
    background: #5ca3c2;
}
.bg_grey {
    background: lightgrey;
}
.bg_blue {
    background: #264567;
}
.left_top_line {
    height: 2%;
}
.left_top_line2 {
    height: 6%;
}
.left_header, .left_header2, .left_header3 {
    height: 14%;
}
.left_main {
    height: 48%;
}
.left_footer {
    height: 6%;
}
.left_top_line2 {
    padding: 5% 80% 5% 5%;
}
.left_header2 {
    justify-content: center;
    padding: 2% 8% 2% 8%;
}
.left_header2__content {
    column-gap: 15px;
    border-radius: 20px;
    padding: 10% 10px 10% 10px;
}
.left_header3 {
    justify-content: center;
    column-gap: 40px;
    padding: 2% 40px 2% 40px;
}
.left_header3__content {
    padding-bottom: 30px;
}
.left_header3__content > div {
    height: 60%;
    border-radius: 50%;
    margin: 10px 0 30px 0;
}
.left_header3__content:nth-child(2) {
    padding: 0 10px 29px 10px;
}
.left_main {
    padding: 15% 8% 5% 8%;
    row-gap: 10%;
}
.left_main__head {
    height: 65%;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 4%;
    column-gap: 2%;
    justify-content: space-between;
}
.left_main__head > div {
    height: 47.5%;
    width: 32%;
    padding: 3%;
}
.left_main__head > div > div {
    background: #264567;
    height: 50%;
    width: 100%;
}
.left_main__foot {
    justify-content: center;
    height: 30%;
    width: 100%;
}
.left_main__foot div {
    height: 100%;
    width: 50%;
}

/*right-body*/

.right_top_line {
    height: 2%;
}
.right_top_line2 {
    height: 7%;
    justify-content: center;
    padding: 5% 40% 5% 40%;
}
.right_header {
    height: 20%;
    row-gap: 10px;
}
.right_menu, .right_menu2, .right_menu3 {
    height: 23%;
}
.right_footer {
    height: 6%;
}
.right_top_line {
    justify-content: space-between;
    padding: 0 10% 0 10%;
    column-gap: 60%;
}
.right_header > div:first-child {
    height: 15%;
    width: 100%;
}
.right_header > div:nth-child(2) {
    height: 80%;
    width: 100%;
    column-gap: 10px;
}
.right_header div:nth-child(2) div {
    width: 32%;
}
.right_header div:nth-child(2) div:nth-child(2) {
    width: 60%;
}
.right_menu {
    padding: 10% 15% 5% 15%;
}
.right_menu__head, .right_menu__foot {
    height: 50%;
    width: 100%;
    padding: 3%;
    column-gap: 3%;
    justify-content: space-around;
}
.right_menu2 {
    padding: 5%;
}
.right_menu2__left {
    flex: 2 0 0;
    border-right: 2px solid #5ca3c2;
    padding: 3% 7% 3% 7%;
    row-gap: 10px;
}
.right_menu2__right {
    flex: 3 0 0;
    padding: 3% 7% 3% 7%;
}
.right_menu2__right > div {
    padding: 4%;
}
.right_menu2__right > div > div {
    height: 100%;
    width: 35%;
}
.right_menu3 {
    justify-content: center;
    padding: 8% 8% 8% 11%;
    column-gap: 10px;
}
.right_menu3__left {
    flex: 4 0 0;
}
.right_menu3__right {
    flex: 2 0 0;
}
.right_menu3__left > div > div {
    width: 25%;
    margin: 2%;
    border-radius: 50%;
}
.right_menu3__right div:first-child {
    border-radius: 7px 7px 0 0;
}
.right_menu3__right div:last-child {
    border-radius: 0 0 7px 7px;
}
.right_footer {
    padding: 0 10% 0 75%;
}
.right_footer div {
    width: 100%;
    height: 100%;
}

