.div {
    box-sizing: border-box;
}

body, html, ul, li, h1 {
    margin: 0;
    padding: 0;
}

p, a {
    font-family: Roboto, sans-serif;
}

a {
    cursor: pointer;
}

.wrapper {
    max-width: 1354px;
    margin: 0 auto;
    height: inherit;
}

/*nav-line*/

.nav-line {
    height: 36px;
    background: #0F2438;
}

.navbar {
    height: inherit;
}

.nav-line__left-side {
    height: inherit;
    align-items: center;
}

.nav-line__left-side a, p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--bs-white);
    list-style: none;
    margin-bottom: 0;
    text-decoration: none;
}

.nav-line__right-side {
    height: inherit;
}

.nav-line__right-side ul {
    height: inherit;
    column-gap: 36px;
}

.nav-line__right-side ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--bs-white);
}
.nav-line__right-side a:hover {
    color: #90b0c5;
}

/*header-main*/

.header {
    height: 196px;
    background: var(--bs-white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header__top-logo {
    height: 98px;
    width: inherit;
    margin-top: 27px;
}

.header__foot {
    width: inherit;
    height: 73px;
}
.header__top-logo_desc img {
    width: 73px;
    height: 83px;
}

.header__top-logo_desc div {
    max-width: 180px;
}

.header__top-logo_desc h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.header__top-logo_desc div p {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}


.header__top-work-time img {
    display: block;
    width: 33px;
    height: 33px;
    margin: 0 10px 0 0;
}

.header__top-work-time div p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.header__top-address p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.header__top-address img {
    width: 30px;
    height: 32px;
    margin-right: 10px;
}
.header__top-whatsapp {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
}
.header__top-whatsapp p {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.header__top-whatsapp img {
    width: 12px;
    height: 12px;
}
.phone-number {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    text-decoration: none;
}
.header__top-phone :nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    text-align: right;
}

/*header-main__foot*/

.header__foot button {
    height: 53px;
    width: 164px;
    background: #005BB9;
    column-gap: 10px;
    border: none;
}
.header__foot-left {
    column-gap: 30px;
}
.form-control {
    width: 540px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
.form-control + button {
    width: 100px;
    background: #005BB9;
    border: none;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.header__foot-right img {
    margin: 0 15px;
}
.header__foot-right div {
    border-right: 2px solid lightgrey;
}
.header__foot-right div a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
    text-decoration: none;
    margin-right: 20px;
}
.header__foot-right div:nth-child(3) {
    border: none;
}
.header__foot-right div:nth-child(3) p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    width: 70px;
}
.header__foot-right div a:hover {
    color: #90b0c5;
}
.form-control + button:hover, .header__foot button:hover {
    background: #3a70a6;
}

/*slider*/

.slider1 .wrapper {
    column-gap: 10px;
}
.slider1 {
    margin-top: 30px;
}
.slider1__big {
    max-width: 1000px;
    height: 390px;
}
.slider1__aside {
    row-gap: 10px;
}
.slider1__aside div {
    background: #F4F5FA;
    border-radius: 10px;
    width: 344px;
    height: 190px;
}
.carousel-item {
    z-index: 0;
}
.carousel-item img:nth-child(2) {
    z-index: 1;
    top: 17px;
    left: 510px;
}
.carousel-item img:nth-child(3) {
    z-index: 1;
    top: 76px;
    right: 502px;
}


/*slider2*/

.slider2 .wrapper {
    height: 184px;
    margin-top: 30px;
    column-gap: 30px;
}
.slider2__box {
    flex: 1 0 0;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

/*main*/

.main {
    margin-top: 70px;
}
.main__buttons {
    column-gap: 20px;
}
.main__buttons button {
    background: #005BB9;
    border-radius: 6px;
    height: 55px;
    padding: 0 23px;
}
.main__buttons :nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.main__buttons :nth-child(2), .main__buttons :nth-child(3)  {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    background: #FFFFFF;
}




