:root {
    --color-darkgrey: #0e2e40;
    --color-lightgery: #cad7e0;
}
body {
    margin: 0;
}
div {
    box-sizing: border-box;
}
.base {
    text-align: center;
    min-width: 380px;
    max-width: 800px;
    margin: 0 auto;
}
.displ_flex {
    display: flex;
}
.header, .footer {
    flex: 1 0 0;
}
.base, .header, .header__description, .footer {
    justify-content: center;
}
.base, .header {
    flex-direction: column;
}
.bor_rad {
    border-radius: 20px;
}
.header{
    border: 3px solid var(--color-darkgrey);
    margin: 10px 40px 20px 40px;
    padding: 10px 0 10px 0;
}
.header__description {
    padding: 20px;
    column-gap: 20px;
}
.header__description > div {
    flex-direction: column;
    flex: 1 0 0;
}
p {
    color: var(--color-darkgrey);
    font-size: 26px;
    text-align: center;
}
.header__description > div > div {
    min-height: 140px;
    min-width: 120px;
}
.bg_blue {
    background: var(--color-darkgrey);
}
.bg_grey {
    background: var(--color-lightgery);
}
.footer {
    column-gap: 5px;
    padding: 0 70px 0 70px;
}
.footer__description {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding: 30px 20px 30px 20px;
}
.footer__description:nth-child(2){
    border: 2px solid var(--color-lightgery);
}
.footer__description div {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.footer__description p {
    color: var(--color-lightgery);
}
