html {
    scroll-behavior: smooth;
    font-size: 20px;
}
body {
    margin: 0;
}
#bases {
    background: #cecece;
}
#header_wrapper {
    background: inherit;
    height: 210px;
}
#main_header {
    background: inherit;
    height: 170px;
    display: flex;
    justify-content: center;
}
#nav {
    background: white;
    width: 1200px;
    padding: 15px;
    box-sizing: border-box;
}
img {
    border: #90b0c5 2px solid;
    border-radius: 20px;
 }
#under_header_line {
    background: #274f7c;
    height: 40px;
}
#body_wrapper {
    background: inherit;
    font: 1rem solid, sans-serif;
    color: #212a31;
    display: flex;
    justify-content: center;
 }
#main_body_wrapper {
    background: #ffffff;
    width: 1200px;
    padding: 15px;
    box-sizing: border-box;
}
#links {
    margin-bottom: 40px;
    /*background: #e2f1fc;*/
    /*border-radius: 20px;*/
}
#ul_first{
    padding-left: 20px;
    list-style: none;
}
li.menu_links{
    padding-left: 20px;
    border-left: 5px solid #264567;
}
.text {
    margin-top: 40px;
    border-bottom: 1px solid #3a70a6;
    text-align: justify;
 }
.p_title>h2{
    font-size: 1.5rem;
    color: #123d52;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: #687888 1px solid;
    border-radius: 5px;
    background: #dde4ec;
    box-shadow: 3px 3px #264567;
}
.issue {
    font-style: normal;
}
.text>p {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
.github_issue {
    font-style: italic;
    color: #0b5442;
}
.plan {
    color: #264567;
    font-size: 30px;
    text-decoration: none;
}
.plan:hover {
    color: #93adc4;
    text-decoration: #acbac5;
    border: none;
}
#first {
    list-style: none;
}
hr {
    border-style: double;
    margin-bottom: 20px;
    color: #e3e8ee;
}
li {
    color: #112165;
}
.another_list_style {
    list-style: square;
    color: #5d1c1c;
}
a {
    text-decoration: none;
}
a:hover {
    color: #90b0c5;
}
#github_link {
    margin-top:20px;
}

.p_title {
    display: flex;
    justify-content: left;
}